.container{
    background-color: #FF7643;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 190px;
}

.basket_cont{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    background-color: #6A2520;
    padding: 12px;
    border-radius: 30px;
    min-width: 190px;
    border: none;
    cursor: pointer;
    color: white;
    margin-right: 390px;
}

.cartIcon{
    margin-right: 10px;
}

.basket_count{
    background-color: #cc4818;
    border-radius: 40%;
    width: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
}
