.container_centre{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
} 

.container_menu{
    width: 45%;
    padding: 5px 30px;
    background-color: white;
    border-radius: 10px;
}